<div id="ur_enter_in_test_administration">
    <div class="form-horizontal" style="border-style:solid; border-width: 1px; border-color: black; padding: 1em;">
        <h3 class="ilHeader">Erweiterte Einstellungen</h3>
        <div class="form-group" id="ur_admin_username">
            <label for="ur_admin_username" class="col-sm-3 control-label">Username</label>
            <div class="col-sm-9">
                <input class="form-control" type="text" id="ur_admin_username" maxlength="200" name="ur_admin_username" autocomplete="off">
            </div>
        </div>
        <div class="form-group" id="ur_admin_password">
            <label for="ur_admin_password" class="col-sm-3 control-label">Password</label>
            <div class="col-sm-9">
                <input class="form-control" type="password" size="20" id="ur_admin_password" maxlength="" name="ur_admin_password" autocomplete="off">
            </div>
        </div>

        <div class="clearfix" style="padding-top:1em;">
            <input class="btn btn-default btn-sm pull-right" type="submit" name="cmd[urEnterInTestAdministration]" value="Anmelden">
            <span class="pull-right" style="min-width:1em;">&nbsp;</span>
            <input class="btn btn-default btn-sm pull-right" type="submit" name="cmd[urLeaveInTestAdministration]" value="Abbrechen">
        </div>
    </div>
</div>
