<!-- BEGIN inspect -->
<div id="ur_leave_in_test_administration">
    <div class="form-horizontal" style="border-style:solid; border-width: 1px; border-color: black; padding: 1em;">
        <h3 class="ilHeader">Versionskontrolle</h3>

        <h2>Version <i>t - {PREVIOUS_ANSWER_VERSION}</i></h2>
        <small>vom {PREVIOUS_ANSWER_TIMESTAMP}</small>

        <div class="clearfix" style="padding-top:1em;">
            <input class="btn btn-default btn-sm" type="submit" name="cmd[urGotoPreviousAnswerVersion]" value="<">
            <input class="btn btn-default btn-sm" type="submit" name="cmd[urGotoNextAnswerVersion]" value=">">
            <input class="btn btn-default btn-sm" type="submit" name="cmd[urAcceptVersion]" value="Übernehmen">
            <input class="btn btn-default btn-sm pull-right" type="submit" name="cmd[urCancelVersion]" value="Abbrechen">
        </div>
    </div>
</div>
<!-- END inspect -->
