<ul class="nav navbar-nav">
	<!-- BEGIN entry_klausurbereich -->
	<li class="ilMainMenu"><a class="{MM_CLASS}" href="{SCRIPT_KLAUSURBEREICH}" target="{TARGET_KLAUSURBEREICH}">{TXT_KLAUSURBEREICH}</a>{SEL}</li>
	<!-- END entry_klausurbereich -->
	<!-- BEGIN entry_desktop -->
	<li class="dropdown"><a id="mm_desk_tr" href="#" class="dropdown-toggle" data-toggle="dropdown" {ACC_KEY_DESKTOP}>{TXT_DESKTOP} <span class="caret"></span></a>{SEL}
		{DESK_CONT_OV}
	</li>
	<!-- END entry_desktop -->
	<!-- BEGIN entry_repository -->
	<li class="dropdown"><a id="mm_rep_tr" href="#" class="dropdown-toggle" data-toggle="dropdown" {ACC_KEY_REPOSITORY}>{TXT_REPOSITORY} <span class="caret"></span></a>{SEL}
		{REP_EN_OV}
	</li>
	<!-- END entry_repository -->
	<!-- BEGIN entry_search -->
	<!-- END entry_search -->
	<!-- BEGIN entry_mail -->
	<!-- END entry_mail -->
	<!-- BEGIN entry_administration -->
	<li class="dropdown yamm"><a id="mm_adm_tr" href="#" data-loaded="0" class="dropdown-toggle" data-toggle="dropdown" {ACC_KEY_ADMINISTRATION}>{TXT_ADMINISTRATION} <span class="caret"></span></a>{SEL}
		<div id="adm_ajax_target"></div>
		<script>
			$(function() {
				$("#mm_adm_tr").on("click", function () {
					if ($("#mm_adm_tr").attr("data-loaded") == 0) {
						$("#mm_adm_tr").attr("data-loaded", "1");
						il.Util.sendAjaxGetRequestToUrl ("ilias.php?baseClass=ilAdministrationGUI&cmd=getDropDown&cmdMode=asynch", {}, {el_id: "adm_ajax_target", inner: false}, function(o) {
							// perform page modification
							if(o.responseText !== undefined) {
								$('#' + o.argument.el_id).replaceWith(o.responseText);
								il.Util.fixPosition($("#mm_adm_tr").siblings("ul.dropdown-menu"));
								if (il.Help) {
									il.Help.updateTooltips();
								}
								var el = $(".ilMainMenu.ilTopFixed");
								if (el) {
//									il.UICore.shrinkFixedElementToViewport(el);
								}
							}

						});
					}
				});
			});
		</script>
	</li>
	<!-- END entry_administration -->
	<!-- BEGIN nav_history -->
	<!-- END nav_history -->
	<!-- BEGIN chat_lastmsg -->
	<li class="ilMainMenu">{CHAT_LAST_MESSAGE}</li>
	<!-- END chat_lastmsg -->
	<!-- BEGIN chatbutton -->
	<li class="ilMainMenu">{CHAT_INVITATIONS}</li>
	<!-- END chatbutton -->
</ul>
