/* ILIAS-PDF-Layout der Uni Regensburg v1.0 */

body {
    font-size: 90%;
}

h1 {
    font-size: 100%;
}
h2 {
    font-size: 100%;
}

img {
    width: 12px;
    height: 12px;
    vertical-align: middle;
}

/*table {
    width: 100%;
    font-size: 100%;
    text-align: left;
}*/

.ilc_qanswer_Answer {
    line-height: 150%;
    display: table-row;
}

.ilc_qanswer_Answer > div {
    display: table-cell;
    padding-right: 0.5em;
}

div.questionPrintview {
    /*background-color:#F9F9F9;*/
    border:1px solid #ccc;
    padding-top: 20px;
    padding-bottom: 20px;
}
.questionTitle {
    font-weight:normal;
    font-size: 9pt;
    /*font-size:14pt;*/
    border-bottom:1px solid #000;
}
td.pdfContent {
    width:441px;
}
td.pdfSpacer {
    width:20px;
}

.ilAccAnchor {
    font-weight:normal;
}
.solutionbox {
    background-color:#ddd;
    font-weight:bold;
}
a {
    text-decoration:none;
}
.sel {
    background-color:#9BD9FE;
}

.noprint {
    display: none;
    visibility: hidden;
}
#targetArea, #sourceArea {
    width: 50%;
    float:left;
}
